#define(Options options, Blog blog)

#tag block("meta")
    <title>${blog.get('title')}</title>
    <meta content="编程技术网,技术,呱咚,呱咚网 www.guadong.net" name="Keywords">
    <meta content="www.guadong.net 是一个使用Java开发，采用Jfinal mvc框架，MySQL数据库和Jade模版引擎，搭建于百度云BAE的开源博客系统。" name="Description">
#end


<article class="article">
    <div id="content_box">
        <div id="post-356" class="post-356 post type-post status-publish format-standard hentry category-featured category-wellhead tag-social-media-2 g post cat-32-id cat-80-id has_thumb">
            <div class="single_post">
                <div class="post-date-ribbon">
                    <div class="corner"></div>${format(blog.get('update_time')) }
                </div>
                <div class="breadcrumb">
                    <a href="${BASE_PATH }" rel="nofollow">首页</a>&nbsp;&nbsp;»&nbsp;&nbsp;
                </div>
                <header>
                    <h1 class="title single-title">${blog.get('title')}</h1>
                        <span class="theauthor single-postmeta">
                            <div class="author_mt hp_meta">
                               <!-- <span class="mt_icon"></span>  -->
                               &nbsp;本文由：<font color="#0195c5"><a href="http://www.guadong.net/" target="_blank">${blog.get('nick_name').asString()}</a></font>&nbsp;&nbsp;整理发布
                            </div>
                        <div class="cat_mt hp_meta">${tags}</div>
                        <div class="time_mt hp_meta">
                            <span class="time_icon"> </span>发布时间：${baseFormat(blog.get('create_time')) }
                        </div>
                        <div class="view_mt hp_meta">
                            <span class="view_icon"> </span>阅读数：<font color="#ea141f">${blog.get('view_count')}</font>
                        </div>
                        
                    </span>
                </header>
                
                <hr style="width:100%;">
                <!-- .headline_area-->
                <div class="post-single-content box mark-links">${blog.get('content')}</div>
                
                
                
                <div class="post-lisence">
                    <h4>原文地址：</h4><a href="${blog.get('share_url')}" target="_blank">${blog.get('share_url')}</a>
                </div>
            
            </div>
            
            
        </div><!-- post-->
        
    </div>
</article>