#define(Options options, Page blogPage)

#tag block("meta")
    <title>DreamLu开源博客 - JFinal,nodejs博客dreamlu.net</title>
    <meta content="dreamlu,jfinal,bae,开源博客" name="Keywords">
    <meta content="dreamlu.net 是一个使用Java开发，采用Jfinal mvc框架，MySQL数据库和Jade模版引擎，搭建于百度云BAE的开源博客系统。" name="Description">
#end

#tag block("content")
    <article class="article">
        <div id="content_box" class="home_page">
            #if(postsby)
                <h1 class="postsby">
                    <span>${postsby}</span>
                </h1>
            #end
            #include ("common/_posts.vm")
            #include ("common/_pagination.vm", {urlParas :  ""})
        </div>
    </article>
    <aside class="sidebar c-4-12">
        <div id="sidebars" class="g">
            <div class="sidebar">
                #include ("common/_sidebar.vm")
            </div>
        </div>
    </aside>
#end

#tag block("script")
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"${options.get('duoshuo_domain')}"};
        js.push('http://static.duoshuo.com/embed.js');
    </script>
#end

#include ("layout.vm")